RESTCLIENTS_TRUMBA_SEA_DAO_CLASS='restclients.dao_implementation.trumba.LiveSea'
RESTCLIENTS_TRUMBA_BOT_DAO_CLASS='restclients.dao_implementation.trumba.LiveBot'
RESTCLIENTS_TRUMBA_TAC_DAO_CLASS='restclients.dao_implementation.trumba.LiveTac'
RESTCLIENTS_TRUMBA_HOST='https://www.trumba.com:443'
RESTCLIENTS_TRUMBA_SOCKET_TIMEOUT={{ trumba_socket_timeout|default(45) }}
RESTCLIENTS_TRUMBA_MAX_POOL_SIZE={{ trumba_max_pool_size|default(5) }}
RESTCLIENTS_TRUMBA_SEA_ID='{{ restclients_trumba_sea_id }}'
RESTCLIENTS_TRUMBA_SEA_PSWD='{{ restclients_trumba_sea_pswd }}'
RESTCLIENTS_TRUMBA_TAC_ID='{{ restclients_trumba_tac_id }}'
RESTCLIENTS_TRUMBA_TAC_PSWD='{{ restclients_trumba_tac_pswd }}'
RESTCLIENTS_TRUMBA_BOT_ID='{{ restclients_trumba_bot_id }}'
RESTCLIENTS_TRUMBA_BOT_PSWD='{{ restclients_trumba_bot_pswd}}'
